
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

html{
    scroll-behavior: smooth;
}

body::-webkit-scrollbar{
        background-color: transparent;
        width: 0px;
    }

    body::-webkit-scrollbar-thumb{

        background-color: transparent;
        border-radius: 5px;
    }

div.menu{
    background-color: black;
    width: 100%;
    height: 100px;
}

div.container{
    background-color: blue;
    width: 100%;


    /*Function calc*/
    height: calc(100vh - 100px);

}

h1::after{
    content: attr(data-name);
}

.imagen, .img{
    background-color: aqua;
    background-blend-mode: soft-light;
}

a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.contenedor{
    
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    gap: 0 15px;
    font-family: 'Rubik', sans-serif;
    /* background-color: #F8CB2E; */
    background-color: rgb(65, 106, 218);
    text-transform: uppercase;
    
}



.contenedor_enlaces{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 17px;
    text-transform: uppercase;
}

.logo:nth-child(1){
    font-weight: 700;
    font-size: 20px;

}

img{
    width: 100%;
}



.landing_page{
    background-image: url('https://images.pexels.com/photos/9413730/pexels-photo-9413730.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.651);
    background-color: rgba(0, 0, 0, 0.824);
    background-blend-mode: soft-light;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 50px 0px 50px;
    height: calc(100vh);
    

    
}

.landing_page_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 50px;
}

.header_scroll{
    box-sizing: border-box;
    position: fixed;
    backdrop-filter: blur(10px);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    height: 50px;
    align-items: center;
    z-index: 5;
    padding: 0 70px;
}


.anti_movimiento_inactivo{
    display: none;
}



.header_titulo_univ a, .header_enlaces a{
    color: white;
}

.header_enlaces{
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.header_enlaces a{
    font-size: 15px;
}

.header_titulo_univ{
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.header_titulo_univ .logo{
    font-size: 22px;

}

.header_enlaces{
    display: flex;
    flex-direction: row;
    gap: 0px 50px;
    align-items: center;
}

.icono_barra{
    color: white;
    font-size: 22px;
    cursor: pointer;
}

.menu_responsive{
    position: fixed;
    right: 0;
    left: 0;
    top: 50px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 100, 0, 0.294);
    background-color: rgba(0, 100, 0, 0.127);
    backdrop-filter: blur(10px);
    width: 100%;
    opacity: 0;
    animation: slideLeft 500ms ease forwards;
}

.menu_responsive a{
    padding: 14px 0;
    color: white;
}

.menu_oculto{
    display: none;
}

.landing_page_centro{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px 0;
    animation: opaCity 2s ease forwards;
    animation-delay: 1s;
    opacity: 0;

}

.landing_page_centro .frase{
    color: white;
    font-size: 33px;
    font-weight: 900;
    text-align: center;
}

.btn{
    position: relative;
    background: transparent;
    color: white;
    cursor: pointer;
    z-index: 1; /* Añadimos una capa z-index para que el texto del botón esté encima del fondo */
    overflow: hidden;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px 25px;
    border-radius: 10px;


}


.btn::before{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    
    transition: left 0.3s ease;
    z-index: -1; 
}

.btn:hover::before {
    left: 0;
  }

.btn_secciones{
    border: 2px solid rgb(16, 112, 101);
}

.btn_secciones::before{
    background: linear-gradient(to right, rgb(48, 155, 142), rgb(16, 112, 101));
}

.btn_descargar_acta{

    border: 2px solid rgb(16, 112, 101);
}
.btn_descargar_acta:hover{
    border-style: groove;
    border: 2px solid rgb(16, 112, 101);
}

.btn_descargar_acta::before{
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(48, 155, 142));
    /* background: linear-gradient(to right, rgb(48, 155, 142), rgb(17, 45, 45)); */
    background: linear-gradient(to right, rgb(48, 155, 142), rgb(16, 112, 101));
}


.landing_page_final{
    margin-bottom: 50px;
    animation: slideRight 1s ease forwards;
}

.contenedor_barra_menu{
    display: none;
    animation: opaCity 1s ease forwards;
}

.landing_page_final .btn_abajo{
    margin: 0 auto;
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 500ms;
    cursor: pointer;
}

.landing_page_final .btn_abajo:hover{
    /* transform: rotateX(360deg); */
}

.contenedor_proyecto_init{
    display: flex;
    align-items: center;
    gap: 50px;
    width: 80%;
    margin: 0 auto;
}


.icono_abajo{
    font-weight: 700;
}

.nosotros_container{
    display: flex;
    flex-direction: column;
    gap: 50px 0;
    padding: 50px 0;
    scroll-margin-top: 50px;
    background-color: #1e4fd46d;
    background-color: #000000b0;
    background-color: black;
    /* background-image: url(equipo_img.jpg); */
    background-size: cover;
}

.nosotros_container h1{
    color: white;
    text-align: center;
    font-size: 50px;
}

.contenedor_nosotros_card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    gap: 30px 0;
    margin: 0 auto;
    width: 70%;
}

.card_nosotros{
    box-shadow: -3px 6px 28px 1px rgba(0,0,0,0.86);
-webkit-box-shadow: -3px 6px 28px 1px rgba(0,0,0,0.86);
-moz-box-shadow: -3px 6px 28px 1px rgba(0,0,0,0.86);
width: 230px;
display: flex;
flex-direction: column;
height: fit-content;

}

.container_img_perfil{
    height: 80%;
}

.img_perfil{
    width: 100%;
    height: 100%;
}

.card_nombre_integrante{
    background-color: rgb(26, 26, 26);
    color: white;
    text-align: center;
    font-weight: 500;
    padding: 20px 0;
}

.contenedor_empresa{
    display: flex;
    background-color: rgb(0, 0, 0);
    gap: 0 50px;
    padding-right: 50px;
    scroll-margin-top: 50px;
    
}



.container_imagen_vivero{
    width: 60%;
}

.container_imagen_vivero img{
    height: 100%;
}


.container_empresa_descripcion{
    width: 40%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px 0;
}

.container_empresa_descripcion h3{
    font-size: 50px;
    text-align: justify;
}

.container_empresa_descripcion p{
    font-size: 20px;
    font-weight: 200;
    text-align: justify;
}

.contenedor_proyecto{
    background-image: url(../images/image_fondo_proyecto.webp);
    background-size: cover;
    background-color: rgb(29, 106, 73);
    background-color: rgba(0, 0, 0, 0.759);
    background-blend-mode: soft-light;
    padding: 30px 0;
    scroll-margin-top: 50px;

}

.titulo_contenedor_proyecto{
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
}

.container_card_proyecto{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 100px;
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
}

.card_proyecto{
    background: rgba(255, 255, 255, 0.625);
    backdrop-filter: blur(3px);
    height: 550px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 50px;
    padding: 30px 20px;
    box-shadow: -3px 6px 28px 1px rgba(0,0,0,0.86);
-webkit-box-shadow: -3px 6px 28px 1px rgba(0,0,0,0.86);
-moz-box-shadow: -3px 6px 28px 1px rgba(0,0,0,0.86);


}

.card_proyecto_titulo{
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    color: black;

}

.card_proyecto_descri{
    font-size: 20px;
    text-align: justify;
    padding: 0 20px;
}

.contenedor_proyecto_btnActa{
    text-align: center;

}

.btn_acta{
    background-color: black;
    color: white;
    border: solid 2px white;
    font-size: 17px;
    font-weight: 500;
    padding: 20px 20px;
    border-radius: 10px;
    transition: all 500ms;
}

.btn_acta:hover{
    /* background-color: rgb(5, 188, 63); */
    background:rgba(0, 0, 0, .5);
    backdrop-filter: blur(2px);
    color: white;
    transform: scale(1.05);
    cursor: pointer;
}





.info{
    
    background-image: url(equipo_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.651);
    background-blend-mode: soft-light;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0 100px;
    padding: 50px 30px;
    color: black;
    scroll-margin-top: 100px;
    

}

.info_texto p:nth-child(1){
    font-size: 40px;
    font-weight: 600;
}

.info_texto p:nth-child(2){
    font-size: 20px;
    text-align: justify;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 29px;
    
}

.info_texto{
    display: flex;
    flex-direction: column;
    gap: 30px 0;
    width: 50%;
    background-color: white;
    padding: 30px 50px;
    border-radius: 20px;
}

.info_imagen{
    height: 100%;
    width: 50%;
    background-image: url(pexels-scott-webb-136739.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
}

.info_imagen_fondo{
    width: 50%;
    height: 100px;
    background: rgba(226, 209, 209, 0.663);
    width: 100%;
    font-size: 20px;
    color: black;
    text-align: center;
}



 

    

    /*INICIO PRUEBA*/

    .presentacion_card{
    background-color: white;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px -1px 7px 8px rgba(0,0,0,0.17);
    -webkit-box-shadow: 0px -1px 7px 8px rgba(0,0,0,0.17);
    -moz-box-shadow: 0px -1px 7px 8px rgba(0,0,0,0.17);
    transition: all 500ms;
}

.presentacion_card:hover{
   cursor: grab;
}

.presentacion_card_foto{
    padding: 25px 0;
    background-color: #4070F4;
    width: 100%;
    text-align: center;
    border-radius:  20px 20px 0 20px;
}
.presentacion_card_img{
    width: 150px;
    border-radius: 50%;
    padding: 5px;
    border: 3px solid white;
}

.presentacion_card_claro{
    padding: 20px 0;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    border-radius: 0 0 20px 20px;
    gap: 15px 0;
    color: black;
}

.presentacion_card_name{
    font-size: 23px;
    font-weight: 500;
    color: black;
}

.presentacion_card_descripcion{
    padding: 0 20px;
    text-align: justify;
    
}

.presentacion_card_cargo{
    font-weight: 500;
    font-size: 16px;
    color: black;
    background-color: #4070F4;
    color: white;
    padding: 5px 20px;
    border-radius: 30px;
    transition: all 300ms;
   
}

.presentacion_card_cargo:hover{
    transform: scale(1.08);
}

.swiper{
    width: 350px;
    margin-top: 0;
}

.seccion_nosotros{
    padding: 50px 0;
    position: relative;
    width:500px;
    display: flex;
    align-items: center;
}

.swiper-pagination-bullet{
    background-color: #3268fa;
}
    /*PRUEBAAAA*/

.footer{
    background-color: rgb(3, 17, 31);
    background-color: rgb(2, 20, 17);
    color: white;
    text-align: center;
    padding: 18px 0;
    font-size: 18px;
    background-image: url(../images/image_fondo_proyecto.webp);
    background-repeat: repeat;
    background-color: rgba(1, 1, 1, 0.848);
    background-blend-mode: soft-light;

}

.corazon{
    color: red;
    font-size: 17px;
}

/*INICIO ARBOL Y MAPA*/

.contenedor_arbol_mapa{
    padding: 30px 50px;
     /* height: 800px;  */
}


.titulo_seccion{
    font-size: 45px;
    font-weight: 800;
    text-align: center;
    margin-top: 30px;

}

.contenedor_mapasEnlaces{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 30px 0;
}

.contenedor_mapasEnlaces a{
    font-size: 21px;
    transition: all 300ms;
}

.enlace_activo{
    border-bottom: solid 3px black;
}

.contenedor_imagenYdescripcion{
    display: flex;
    flex-direction: row;

    gap: 30px;
    /* height: 700px; */

  

}

.contenedor_imagen{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
   
}

.img_arbolProblemas{
    height: 700px;
    width: 100%;
    border-radius: 15px;
}

.contenedor_descripcion{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 20px;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    height: fit-content;
}

.contenedor_descripcion p{
    font-size: 17px;
    text-align: justify;
    line-height: 28px;
}

.check_verde{
    color: #16ce2f;
    font-size: 24px;
}

@media (max-width: 1480px) {
    .container_card_proyecto{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 1100px) {
    .contenedor_nosotros_card{
        grid-template-columns: repeat(2,1fr);
    }

    .container_card_proyecto{
        grid-template-columns: repeat(1,1fr);
        gap: 40px;
    }


    .contenedor_empresa{
        display: flex;
        flex-direction: column;
        padding: 0px 0px;
        gap: 0;
       }

       .container_imagen_vivero{
        width: 100%;
       }
    
       .container_empresa_descripcion{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        padding: 80px 10px;
        text-align: center;
       }
    
       .container_empresa_descripcion h3{
        text-align: center;
        font-size: 33px;
       }
    
       .contenedor_proyecto .titulo_contenedor_proyecto{
        font-size: 33px;
       }

       .nosotros_container h1{
        font-size: 33px;
    }

}

@media (max-width: 640px) {

    .landing_page_final{
        margin-bottom: 100px;
    }

    .landing_page{
        padding: 0;
        height: calc(100vh);
    }

   .header_enlaces{
    display: none;
   }

   .landing_page_centro .frase{
    font-size: 28px;
   }

   .contenedor_empresa{
    display: flex;
    flex-direction: column;
    padding: 80px 20px;
    gap: 60px 0;
   }

   .container_imagen_vivero{
    width: 100%;
   }

   .container_empresa_descripcion{
    width: 100%;
   }

   .container_empresa_descripcion h3{
    text-align: center;
    font-size: 33px;
   }

   .contenedor_proyecto .titulo_contenedor_proyecto{
    font-size: 30px;
   }

   .container_card_proyecto{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    width: 90%;
   }

   .card_proyecto{
    height: fit-content;
    gap: 15px 0;
   }

   .card_proyecto .card_proyecto_titulo{
        font-size: 23px;
   }

   .card_proyecto .card_proyecto_descri{
    font-size: 19px;
   }

   .contenedor_nosotros_card{
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;

   }

   .card_nosotros{
    margin: 0 auto;
    
   }

   .contenedor_barra_menu{
    display: flex;
   }

   .header_scroll{
    padding: 0 20px;
   }

   .contenedor_proyecto{
    background-image: url(image_fondo_proyecto.webp);
    background-repeat: repeat;
    background-size: 1000px;
    background-color: rgb(29, 106, 73);
    background-blend-mode: soft-light;
    padding: 30px 0;
    scroll-margin-top: 50px;

}

.footer{
    background-image: url(image_fondo_proyecto.webp);
    background-repeat: repeat;
}

.contenedor_arbol_mapa{
    padding: 20px 10px;
}

.titulo_seccion{
    font-size: 30px;
}

.contenedor_mapasEnlaces a{
    font-size: 15px;
}

.contenedor_imagenYdescripcion{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.contenedor_imagen{
    width: 100%;
    
}

.img_arbolProblemas{
    width: 100%;
    height: 400px;
}

.contenedor_descripcion{
    width: 100%;
    padding: 5px;
}


}


@media (max-width: 1150px) {
    .landing_page_centro .frase{
    font-size: 33px;
}

}

@keyframes slideRight {
    0%{
        transform: translateX(-100px);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes opaCity {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideLeft {
    0%{
        transform: translateX(100px);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}




